<!DOCTYPE html>
{% load static %}
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Заголовок</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
<body>

{%  block nav %} {%  endblock nav%}
{% include "app/nav.html" %}

  <div class="row">
    <div class="col s12">
      {% block content %} {% endblock content%}
    </div>
  </div>

</body>
</html>