.header {
    margin-top: 30px;
    margin-bottom: 50px;
    color: red;
}

.phone {
    margin-top: 30px;
    margin-bottom: 30px;
}

.sort-block .sort-item {
    padding-right: 20px;

}

.sort-block {
    display: block;
}

.sort-item {
    width: 100px;
    display: inline;
}

.price {
    font-weight: bold;
}



