{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}

                <div class="sort-item">Сортировать по: </div>
                <div class="sort-item"><a href="/catalog?sort=name">по названию</a></div>
                <div class="sort-item"><a href="/catalog?sort=min_price">начиная с дешевых</a></div>
                <div class="sort-item"><a href="/catalog?sort=price">начиная с дорогих</a></div>

        </div>

        <div class="content">
            {# Здесь должен отображаться каталог с телефонами #}
            <div>
                {% for item in phone %}
                    <div class="phone-block">
                        <div>
                            <a class="name" href="{{ item.slug }}">{{ item.name }}</a>
                        </div>

                        <div>Стоимость:  {{ item.price }}</div>

                        <div>
                            <img class="img" src='{% static item.image %}' alt="{{ item.name }}">
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}