{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Телефон</h1>
        </div>
        <div class="content">
            <div>Название :{{ phone.name }}</div>
            <img class="img" src='{% static phone.image %}' alt="{{ phone.name }}">
            <div>Цена : {{ phone.price }} руб.</div>
            <div>Дата выхода : {{ phone.release_date }}</div>
            <div>Наличие LTE : {{ phone.lte_exists | yesno:"Да,Нет"  }}</div>
        </div>
    </div>
{% endblock %}