{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in student_list %}
    <li>{{ student.name }} {{ student.group }} <br> Преподаватель:
{#        {% for obj_teacher in teacher_list %}#}
{#            <p>{{ obj_teacher.name }}</p>#}
{#            <p>{{ obj_teacher.subject }}</p>#}
{#        {% endfor %}#}

        {{ student.teacher.name }} {{ student.teacher.subject }}
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
