{% extends "base.html" %}
{% load static %}

{% block title %}Журнал{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1>Список статей</h1>
        </div>
        <div class="articles">
            {% for item in articles %}
                    <div>
                        <h3>Статья {{ forloop.counter }}</h3>
                        <div>
                            <a class="name" href="{{ item.id }}">{{ item.title }}</a>
                        </div>
                    </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}