{% extends "base.html" %}
{% load static %}

{% block title %}Заголовок статьи{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h5>{{ article.thematic }}</h5>
            <h3>{{ article.title }}</h3>
        </div>
        <div>
            {% if  article.text %}
                {{ article.text }}
            {% else %}
                <a href="{% url "sell_kidney" %}">Продать почку и получить доступ к желтой прессе.</a>
            {% endif %}
        </div>
        <br>
        {% if article.paid %}
            <div>Платно.</div>
        {% else %}
            <div>Бесплатно.</div>
        {% endif %}
    </div>
{% endblock %}