{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1>Поздравляем!</h1>
            <h3>Именно Вам представилась возможность получить доступ к нашим чудо-статьям.</h3>
            <h6>Введите Ваше имя.</h6>
            <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <p style="margin-top: 15px; margin-bottom: 0px">{{ field.label_tag }}</p> {{ field }}
            {{ field.errors }}
            {% endfor %}
            <input type="submit" style="display: block; margin-top: 20px" value="Продать почку и получить доступ к желтой прессе."/>
            </form>
        </div>
    </div>
{% endblock %}